@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Road+Rage&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav{
   background-color: rgb(134, 6, 146);
   height: 50px;
   margin: 5px;
   border-radius: 5px;
}
a{
   position: relative;
   text-decoration: none;
   font-size: 30px;
   font-family: 'Road Rage', cursive;
   color: white;
   
}

.item{
   float: right;
   padding: 5px 20px;
}
.icon{
   padding-left: 20px;
}

h1{
   padding-top: 10px;
   text-align: center;
   font-family: 'Pacifico', cursive;
   font-size: 50px;
}

#turn{
   font-family: 'Pacifico', cursive;
   text-align: center;
   font-size: 30px;
   padding: 50px;
}

.info{
   text-align: center;
   font-size: 30px;
   font-family: cursive;
}



.container{
   
   display: grid;
   background-color: rgb(134, 6, 146);
   grid-template-columns: auto auto auto;
   justify-content: center;
   align-items: center;
   padding: 20px;
   width: fit-content;
   margin-top: 50px;
   
   
}

.cell{
   background-color:rgb(226, 226, 226); 
   padding-top: 30px;
   width: 150px;
   height: 150px;
   text-align: center;
   justify-content: center;
   border: 5px solid black;
   font-size: 5rem;
   cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
   border-top: none;
}

.cell:nth-child(3n+1){
   border-left: none;
}

.cell:nth-child(3n+3){
   border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
   border-bottom: none;
}


#reset{
   width: 20%;
   height: 10%;
   color:white;
   background-color: crimson;
   border-radius: 2px;
   font-size: 20px;
   padding: 10px;
   margin-top: 70px;
   margin-bottom: 20px;
}

.res{
   padding: 50px;
   font-size: 3rem;
   text-align: center;
   color:black;
   font-weight: 900;
}



footer{
   position: absolute;
   background-color: black;
   color:white;
   height: 40px;
   width: 100%; 
   margin: 5px;
   padding-top: 10px;
   text-align: center;
   border-radius: 5px;
}
